<!-- http://localhost:4200/aria-toggle -->

<div>
    <ul role="menu">
        <li id="pass2" role="menuitemcheckbox" [attr.aria-checked]="'true'"></li>
    </ul>

    <p id="pass3Label">Sans-serif</p>

    <ul role="menu">
        <li id="pass3" role="menuitemradio" [attr.aria-checked]="'true'"></li>
        <li id="pass3" role="menuitemradio" [attr.aria-checked]="'true'"></li>
    </ul>

    <div role="radiogroup">
        <div id="pass4" role="radio" [attr.aria-checked]="'false'"></div>
        <div id="pass4" role="radio" [attr.aria-checked]="'false'"></div>
    </div>

    <div id="fail5" role="switch" [attr.aria-checked]="'true'">
        <span></span>
        <span></span>
    </div>
</div>
