<!-- http://localhost:4200/aria-prohibited-attr -->
<div>

<div>
    <header role="generic" aria-label="header"></header>
    
    <div>
        <h1>My Page</h1>
        <span aria-label="span">test</span>
        <a aria-label="a">dsadasd</a>
        <span aria-label="span" role="alert">test</span>
        <p>test <br aria-label="br" />sdasd</p>
        
        <input type="radio" [attr.aria-checked]="'true'">
        <input type="hidden" aria-label="hidden">
        <input type="range" [attr.aria-valuemax]="'200'" [attr.aria-valuemin]="'1'">
        <input type="text" list="" [attr.aria-haspopup]="'true'">
        <input list="" [attr.aria-haspopup]="'true'">

        
        <option [attr.aria-selected]="'true'">test</option>
        <img [attr.aria-selected]="'true'">
        <img [attr.aria-hidden]="'false'">
    </div>
</div>

</div>