<!-- http://localhost:4000/aria-required-attribute -->
<div>
    <div role="combobox" [attr.aria-expanded]="'true'" [attr.aria-controls]="''"></div>
    <div role="combobox" [attr.aria-expanded]="'true'"></div>
    <div role="combobox" [attr.aria-controls]="''"></div>
    <div role="combobox"></div>
    <div role="switch"></div>
    <div role="checkbox"></div>

    <div role="menu">
        <div role="menuitemcheckbox"></div>
        <div role="menuitemcheckbox"></div>
        <div role="menuitemradio"></div>
    </div>

    <div role="radio"></div>
    <div role="scrollbar"></div>
    <div role="slider"></div>
</div>