<!-- http://localhost:4200/neurodiversity-ruleset/reading-level -->

<main class="flex min-h-screen grid grid-cols-3 gap-4 p-24">
    <p>The city park is a wonderful place where families gather to enjoy picnics, 
       children run freely on the grass, and birds sing in the trees, creating a 
       peaceful atmosphere, while the adjacent horticultural exhibition showcases 
       a meticulously curated assemblage of endemic and exotic flora, illustrating 
       the region’s botanical diversity through a juxtaposition of autochthonous 
       vegetation and cultivated specimens.</p>
</main>
