<!-- http://localhost:4000/svg-img-alt -->

<div>
    <div (click)="onClick()">
        <svg
            id="Layer_1"
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 48 48"
            role="img"
            width="40"
            height="40"
        >
            <rect x="7" y="21" width="6" height="11" fill="#00286f" stroke-width="0"></rect>
            <rect x="35" y="21" width="6" height="11" fill="#0d3b8d" stroke-width="0"></rect>
            <rect x="35" y="21" width="6" height="5" fill="#00286f" stroke-width="0"></rect>
            <circle cx="24" cy="24" r="22" fill="#ffa221" stroke-width="0"></circle>
        </svg>
    </div>

    <svg
        id="Layer_2"
        data-name="Layer 2"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 48 48"
        role="img"
        width="40"
        height="40"
    >
        <circle cx="24" cy="24" r="22" fill="#ffa221" stroke-width="0"></circle>
        <circle cx="24" cy="24" r="20" fill="#ffc343" stroke-width="0"></circle>
        <circle cx="24" cy="24" r="3" fill="#555e77" stroke-width="0"></circle>
    </svg>
</div>
